{% extends "base.html" %}



{% block title %}
{{category.name}} | SmartComputersKe Blog
{% endblock %}



{% block content %}

<div class="breadcrumb">
    <a href="{% url 'home' %}">Home</a> /
    <a href="{% url 'blog_list' %}">Blog</a> /
    <span class="current">{{ category.name }}</span>
</div>


<section class="container">


<h1>
{{category.name}}
</h1>


<p>
{{category.description}}
</p>



<div class="blog-grid">


{% for post in posts %}


<article class="blog-card">


<img
src="{{post.image.url}}"
alt="{{post.title}}"
loading="lazy">


<div class="blog-content">

<h3>

<a href="{% url 'blog_detail' post.slug %}">
{{post.title}}
</a>

</h3>


<p>
{{post.excerpt|truncatewords:25}}
</p>


<div class="blog-meta">

<span>
<i class="fa fa-user"></i>
SmartComputersKe
</span>


<span>
<i class="fa fa-calendar"></i>
{{post.created_at|date:"M d, Y"}}
</span>


</div>


<a class="read-more"
href="{% url 'blog_detail' post.slug %}">
Read More →
</a>


</div>


</article>


{% empty %}


<p>
No articles in this category yet.
</p>


{% endfor %}


</div>



</section>


{% endblock %}