.dashboard-header{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;

}


.card,
.form-card,
.delete-card{

background:white;
border-radius:16px;
padding:25px;
box-shadow:0 8px 30px rgba(0,0,0,.06);

}



.btn-primary{

background:#2563eb;
color:white;
padding:12px 20px;
border-radius:10px;
text-decoration:none;
border:none;
cursor:pointer;

}



.btn-secondary{

background:#e5e7eb;
color:#111827;
padding:12px 20px;
border-radius:10px;
text-decoration:none;

}



.btn-danger{

background:#dc2626;
color:white;
padding:12px 20px;
border-radius:10px;
border:none;

}



.table-tools{

margin-bottom:20px;

}



.search-box{

display:flex;
gap:10px;

}



.search-box input{

padding:12px;
border:1px solid #ddd;
border-radius:10px;
width:300px;

}



.search-box button{

background:#111827;
color:white;
border:none;
padding:12px 18px;
border-radius:10px;

}



.dashboard-table{

width:100%;
border-collapse:collapse;

}



.dashboard-table th{

text-align:left;
background:#f8fafc;
padding:15px;

}



.dashboard-table td{

padding:15px;
border-bottom:1px solid #eee;

}



.brand-logo{

width:55px;
height:55px;
object-fit:contain;
border-radius:12px;

}



.no-logo{

width:55px;
height:55px;
background:#eee;
display:flex;
align-items:center;
justify-content:center;
border-radius:12px;

}



.action-btn{

padding:8px 12px;
border-radius:8px;
text-decoration:none;
font-size:14px;

}



.action-btn.edit{

background:#dbeafe;
color:#1d4ed8;

}



.action-btn.delete{

background:#fee2e2;
color:#dc2626;

}



.form-group{

margin-bottom:20px;

}



.form-group label{

display:block;
margin-bottom:8px;
font-weight:600;

}



.form-control{

width:100%;
padding:12px;
border-radius:10px;
border:1px solid #ddd;

}